title: Functional C++
date: 2015-04-03 00:25:37
tags: slides
---
a.btn.btn-large.btn-primary(href='/advanced-cpp/slides/10_functional.html')
    | Slide Show
include:slides ../slides/10_functional.sld
