title: Functional C++
date: 2017-03-14 04:46:59
tags:
categories: slides
---
a.btn.btn-large.btn-primary(href='/advanced-cpp/slides/10_functional.html') Slide Show
include:slides ../slides/10_functional.sld
