title: Inheritance and virtual functions
date: 2015-05-28 21:35:03
tags: slides
---
p
    a.btn.btn-large.btn-primary(href='/advanced-cpp/slides/16_virtual.html')
        | Slide Show

include:slides ../slides/16_virtual.sld
