title: Libraries and API design
date: 2017-03-12 03:46:59
tags:
categories: slides
---
a.btn.btn-large.btn-primary(href='/advanced-cpp/slides/08_library.html') Slide Show
include:slides ../slides/08_library.sld
