title: Smart Pointers
date: 2017-03-01 02:46:59
tags:
categories: slides
---
a.btn.btn-large.btn-primary(href='/advanced-cpp/slides/05_smartptr.html') Slide Show
include:slides ../slides/05_smartptr.sld
