title: Smart Resources
date: 2017-03-05 02:46:59
tags:
categories: slides
---
a.btn.btn-large.btn-primary(href='/advanced-cpp/slides/06_smart_resource.html') Slide Show
include:slides ../slides/06_smart_resources.sld
