title: STL Algorithms
date: 2015-05-21 21:35:03
tags: slides
---
p
    a.btn.btn-large.btn-primary(href='/advanced-cpp/slides/15_algorithms.html')
        | Slide Show

include:jade ../slides/15_algorithms.jld
